psutil
jsonschema 
attrs
jupyter 
jupyterlab 
jupyter_contrib_nbextensions 
nodejs 
npm 
rise 
jupyterlab_rise
pandas 
pyarrow 
fastparquet 
tables 
numba 
click
graphviz 
pydot 
pydot_ng 
opencv-contrib-python-headless
scikit-learn 
scipy 
scikit-image 
scikit-hep
seaborn 
plotly 
hide_code[lab] 
idx2numpy
uproot 
awkward 
awkward-pandas 
dask
opencv-contrib-python-headless
tensorflow[and-cuda]
tensorboard_plugin_profile
tensorflow_datasets
#tf-models-official
google-genai
kagglehub
